
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 270px;
            background-color: rgba(241, 241, 241, 1);
        }
        
        .silex-id-1498637250161-0 {
            width: 259px;
            min-height: 259px;
            top: 4px;
            left: 8px;
            background-color: rgba(241, 241, 241, 1);
        }
        
        .silex-id-1498637337705-1 {
            width: 684px;
            min-height: 258px;
            top: 4px;
            left: 271px;
        }
        
        .silex-id-1474394621033-3 {
            top: 310px;
            left: 5px;
            min-width: 960px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 1440px;
            background-color: transparent;
            top: 15px;
            left: 323px;
            width: 960px;
        }
        
        .silex-id-1498637910777-3 {
            width: 265px;
            min-height: 159px;
            top: 9px;
            left: 8px;
        }
        
        .silex-id-1498637892368-2 {
            width: 263px;
            min-height: 842px;
            top: 171px;
            left: 9px;
        }
        
        .silex-id-1498638258263-4 {
            width: 663px;
            min-height: 1402px;
            top: 10px;
            left: 290px;
        }
        
        .silex-id-1478366450713-3 {
            top: 1785px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 92px;
            background-color: transparent;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 305px;
        }
    